# Build results
bin/
obj/
out/

# IDE
.vs/
.vscode/
.idea/

# User-specific files
*.user
*.vspscc
*.vssscc
*.suo
*.ncrunch*
*.map
*.tmd
*.rsuser
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# Packages
*.nupkg
project.lock.json

# Logs
*.log

# Entity Framework Migrations
Migrations/

# Publish output
wwwroot/
publish/
app.publish/

# AWS Lambda specific
.aws-sam/
aws-lambda-tools-defaults.json

# Secrets and sensitive files
secrets.json
